<!DOCTYPE html>
<html>
  <head>
    <title>Genie's Friends</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1> <b> {{ message }} </b> </h1>
      <form action="/authenticate" method="POST">
        Username
        <br> 
        <input id="textinput" type="text" name="username" value="">
        <br>
        Password
        <br>
        <input id="passwordinput" type="password" name="passwd" value="">
        <br>
        <input id="submitinput" type="submit" name="account" value="Login">
        <input id="submitinput" type="submit" name="account" value="Register">
      </form>
      </div>
  </body>
</html>
